
.theory{
    width: 700px;
    margin: 0 auto;
    top:50%;
    background-color: beige;
    border: 2px solid rgb(112, 112, 110);
    border-radius: 5px;
    padding: 20px;
    font-size: 18px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)

}

h1{
    font-size: 36px;
}